*~
aclocal.m4
a.out
autom4te.cache
*.aux
block/test.dat
block/test.txt
compile
config.cache
config.guess
config.h
config.h.in
config.h.win32
config.log
config.status
config.sub
configure
depcomp
.deps
gmon.out
gsl-config
gsl-histogram
gsl.pc
gsl-randist
gsl.spec
gsl_version.h
*.gz
histogram/test.dat
histogram/test.txt
*.la
_libs
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
matrix/test.dat
matrix/test_static
matrix/test.txt
ntuple/test.dat
*.o
rng/test.dat
stamp-h
stamp-h1
stamp-h.in
stamp-vti
*/test
test.dat
test.txt
*.tmp
typescript.make
vector/test.dat
vector/test_static
vector/test.txt
test-driver

# CMake build directories (out-of-source; preferred).
build-cmake/
build-cmake-*/

# Guard against an accidental in-source CMake configure littering the root.
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake
/install_manifest.txt
/DartConfiguration.tcl
/GSL.sln
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/gsl*.vcxproj
/gsl*.vcxproj.filters
/gsl*.dir/
/GSLConfig.cmake
/GSLConfigVersion.cmake
/include/

# Data files written by the *test_static programs.
matrix/test_static.dat
vector/test_static.dat

# Scratch area for patch/reference files being evaluated for integration.
/temp/
doc/_build
